<!DOCTYPE html>
<html lang="en">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<body class="bg-light">
<div class="container">
    <br>

    <div class="w-100 p-3" style="background-color: #eee; text-align: center;">
        <h1>Hello World!</h1>
        <p>Welcome to my Django project!</p>
    </div>

    <form action="translator">
        <input type="submit" class="btn btn-primary w-100" value="Translator App">
    </form>
    <br>
    <form action=".">
        <input type="submit" class="btn btn-success w-100" value="Main Menu">
    </form>
</div>
</body>
</html>