<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up with ajax</title>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <script>
    $("#id_username").change(function () {
      var username = $(this).val();

      $.ajax({
                  alert("A user with this username already exists.");

        url: '/validate_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("A user with this username already exists.");
          }
        }
      });

    });



    </script>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
</form>
</body>


</html>