<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myform').on('submit', function(e) {
                e.preventDefault();
                alert('Loading');

                $.ajax('/translator/ajax_data',   // request url
                {
                    success: function (data, status, xhr) {
                        // success callback function
                        $('p').append(data);
                        $('#input').val('This is ajax');
                    }
                });


            });

            // alert('document loaded');


             $('#ajaxBtn1').click(function(){
                $.ajax('/translator/ajax_data',   // request url
                {
                    success: function (data, status, xhr) {    // success callback function
                            $('p').append(data);
                    }
                });
		 });

        });


    </script>
</head>
<body class="bg-light">

<div class="container">
    <br>
    <div class="w-100 p-3" style="background-color: #eee; text-align: center;">
        <h1>Welcome to translator!</h1>
    </div>
    <!--    <form action="." method="get">-->
    <form method="get" id="myform">
        <div class="form-row">
            <div class="form-group">
                <label for="inputLanguage">Select Input Language</label><br>
                <select id="inputLanguage" name="inputLanguage" class="btn btn-secondary dropdown-toggle">
                    <option>English</option>
                    <option>Turkish</option>
                    <option>Russian</option>
                    <option>Arabic</option>
                    <option>Chinese</option>
                </select>
            </div>
            <div class="form-group">
                <label for="outputLanguage">Select Output Language</label><br>
                <select id="outputLanguage" name="outputLanguage" class="btn btn-secondary dropdown-toggle">
                    <option>English</option>
                    <option>Turkish</option>
                    <option>Russian</option>
                    <option>Arabic</option>
                    <option>Chinese</option>
                </select>
            </div>
        </div>

        {% if input and output %}
        <div class="form-group">
            <label>Input</label>
            <input type="text" class="form-control" id="input" name="input" value="{{ input }}">
        </div>
        <div class="form-group">
            <label>Output</label>
            <input type="text" class="form-control" id="output" name="output" value="{{ output }}" readonly>
        </div>
        {% else %}
        <div class="form-group">
            <label>Input</label>
            <input type="text" class="form-control" id="input" name="input" placeholder="Example input">
        </div>
        <div class="form-group">
            <label>Output</label>
            <input type="text" class="form-control" id="output" name="output" placeholder="Another output" readonly>
        </div>
        {% endif %}
        <div style="text-align: center;">
            <!--            <input type="submit" value="Translate" class="btn btn-warning">-->
            <input type="submit" value="Translate" class="btn btn-warning" id="ajaxBtn1">
        </div>
    </form>

    <!-- main menu button -->
    <br>
    <form action="..">
        <input type="submit" class="btn btn-success w-100" value="Main Menu">
    </form>
</div>
    <input type="button" id="ajaxBtn" value="Send Ajax request"/>

<p>
    This is P
</p>
</body>
</html>